# Thu thập dữ liệu
webdriver-manager
beautifulsoup4
requests

# Xử lý dữ liệu
pandas
numpy

# Trực quan hóa dữ liệu
matplotlib
seaborn
jupyter
ipykernel
notebook
plotly

# Dashboard
streamlit
dash-bootstrap-components
dash>=2.14.0
gunicorn
plotly>=5.18.0
pandas>=1.5.0
numpy>=1.24.0

# Machine Learning
scikit-learn

# Tiện ích khác
openpyxl

